.PageNumber {
    width: 46px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-left: 18px;
    // padding-right: 18px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    background-color: #ededed;

    &.active {
        opacity: 1;
        background-color: #04AA6D;
        border-radius: 6px;
    }
 &.cursor-text {
     cursor: text;
 }

 &.cursor-pointer {
     cursor: pointer;
 }

 &:hover {
        background-color: #04AA6D;
        border-radius: 6px;
        opacity: 0.8;

    }


}