.Pagination-container {
    margin-left: 373px;
    margin-top: -37px;

    .Pagination-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding-top: 69px;
        padding-bottom: 20px;

    }
}