.specialty-child {
    cursor: pointer;
    .specialty-name {
        padding: 10px 0;
        //scss thêm & còn css thì ko cần phải thêm
        &:hover {
            color: #45c3d2;
        }
    }
}